.idea*
CMakeCache.txt
build
bin
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
grammar.output
grammar.tab.c
tests/parser.hpp
tests/parser.cpp
CMakeFiles/*

